.App {
  text-align: center;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./chab.ttf') format('truetype');
}

.customText {
  font-family: 'CustomFont';
  font-size: 27px;
  text-decoration: none;
  color: black;
}

.Logo{
  margin-top: 10px;
  margin-left: 10px;
}

.carousel img {
  border: 2px solid #000000b7;
  border-radius: 30px;
}

/* 스크롤바 없애기*/
body::-webkit-scrollbar {
  display: none;
} 

/* menubar */
#right-nav-wrapper .navbar-nav{
  flex-direction: row-reverse;
}

/* content-wrapper 공통 */
.content-wrapper{
  position: relative;
}

.content_box{
  text-align: center;
  width: 100%;
}

.content-main-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.content-main-desc{
  margin-bottom: 20px; 
}

/* welcome-content-wrapper */
#welcome-content-wrapper{
  margin: 0px auto;
  color: black;
  height: 170px;
}

#welcome-content-wrapper .content_box{
  margin-top: 60px;
}

/* popular-content-wrapper */
.popular {
  margin-bottom: 40px; /* 원하는 간격 값으로 조정합니다 */
}

#popular-content-wrapper {
  display: flex; 
  align-items: center; 
  margin-left: 40px;
}

#popular-content-wrapper .content-main-title {
  margin-right: 10px;
  line-height: 1.5;
}

#popular-content-wrapper .line {
  flex: 1; 
}

#popular-content-wrapper .line::after {
  content: '';
  display: block;
  width: 95%; 
  border-top: 2px solid black; 
}

.popular-main-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.box {
  width: 250px; /* 네모칸의 너비 */
  height: 200px; /* 네모칸의 높이 */
  border: 2px solid #000; 
  border-radius: 20px;
  margin: 35px; /* 네모칸 사이의 간격 */
  display: inline-block; /* 네모칸이 가로로 정렬되도록 설정 */
  padding: 5px 15px 5px 25px;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-title {
  margin: 5px 0; /* 상하 여백을 줄임 */
  font-size: 20px; /* 제목 크기 조정 */
  height: 10px;
  text-align: left;
}

.box-position, .box-deadline {
  margin: 7px; 
  font-size: 15px; /* 텍스트 크기 조정 */
  height: 40px;
  text-align: left;
}

.bookmark-icon {
  width: 24px;
  height: 24px;
  margin-top: 15px;
}

/* now-content-wrapper */
#now-content-wrapper {
  display: flex; 
  align-items: center; 
  margin-left: 40px;
}

#now-content-wrapper .content-main-title {
  margin-right: 10px;
  line-height: 1.5;
}

#now-content-wrapper .line {
  flex: 1; 
}

#now-content-wrapper .line::after {
  content: '';
  display: block;
  width: 95%; 
  border-top: 2px solid black; 
}

.now-main-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.box {
  height: 200px; /* 네모칸의 높이 */
  border: 2px solid #000; 
  border-radius: 20px;
  margin: 35px; /* 네모칸 사이의 간격 */
  display: inline-block; /* 네모칸이 가로로 정렬되도록 설정 */
  text-align: center; /* 내용 가운데 정렬 */
  line-height: 100px; /* 내용 세로 가운데 정렬 */
}

#more-button {
  margin-top: 5px;
  padding: 3px 8px;
  font-size: 13px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}

.delete-button {
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 20px;
  margin-top: 20px;
}


#more-button:hover{
  background-color: lightgray;
}

#more-button > a {
  text-decoration: none ;
  color: black;
}

.selectBox {
  border: 2px solid #ccc !important;
  border-radius: 4px; 
  padding: 8px; 
}

/* footer */
.footer {
  padding-top: 30px; /* 위쪽으로 20px의 공백 추가 */
  padding-bottom: 30px; /* 아래쪽으로 20px의 공백 추가 */
}

.footer-link {
  color: black; /* 링크의 색상을 검정색으로 변경 */
  text-decoration: none; /* 링크의 밑줄 제거 */
}

.footer-link {
  border-bottom: none; /* 각 링크의 밑에 있는 선을 제거 */
}

/* 설렉트 박스 */
.position-container{
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.position-container > :not(:first-child) {
  margin-left: 20px; /* 간격 조절 */
}


/* 팀원 구하기 페이지 */
#make-content-wrapper {
  display: flex; 
  align-items: center; 
  margin-left: 40px;
  margin-top: 30px;
}

#make-content-wrapper .line {
  flex: 1; 
}

#make-content-wrapper .line::after {
  content: '';
  display: block;
  width: 95%; 
  border-top: 2px solid black; 
}

.make-main-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.makecontainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

#projectTitle{
  max-width: 100%;
  width: 95%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 10px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

#projectexplain{
  resize: none;
  max-width: 100%;
  width: 95%;
  height: 300px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 10px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.upload{
  margin-top: 5px;
  padding: 3px 8px;
  font-size: 13px;
  background-color: white;
  border: 1 black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}

.upload:active{
  transform: translateY(2px);
}

.membertypes{
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

/* 마이페이지 (정보 수정)*/
.change-info{
  margin-top: 10px;
  margin-right: 25px;
}

.profile-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.upload-button {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;  /*애니메이션 효과*/
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  background-image: url('./img/profile.png');
  background-size: contain; /* 배경 이미지 크기 조정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 설정 제거 */
  background-position: center; /* 배경 이미지 가운데 정렬 */
  background-origin: content-box; /* 배경 이미지의 원점 */
  padding: 10px; /* 테두리에서의 여백 */
}

.upload-button:hover {
  background-color: gray;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#upload {
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#upload:active{
  transform: translateY(2px);
}

.p {
  font-size: 16px;
  color: white;
}

.id{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#id{
  width: 500px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.pw{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#password{
  width: 500px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.interest{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#interest{
  width: 500px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.introduce{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#introduce{
  resize: none;
  max-width: 100%;
  width: 500px;
  height: 200px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 10px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

#save-button {
  margin-top: 5px;
  padding: 3px 8px;
  font-size: 13px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none ;
  color: black;
}

#save-button:hover{
  background-color: lightgray;
}
#save-button:active{
  transform: translateY(2px);
}

#delete-button{
  padding: 3px 8px;
  font-size: 13px;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
  text-decoration: none ;
  color: black;
}

#delete-button:active{
  transform: translateY(2px);
}

/* 디테일 */
#detail-content-wrapper {
  display: flex; 
  align-items: center; 
  margin-top: 30px;
  margin-left: 40px;
}

#detail-content-wrapper .detail-main-title {
  margin-right: 10px;
  line-height: 1.5;
}

#detail-content-wrapper .line {
  flex: 1; 
}

#detail-content-wrapper .line::after {
  content: '';
  display: block;
  width: 95%; 
  border-top: 2px solid black; 
}

.detail-main-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.detail-box{
  max-width: 1500px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.Box {
  height: 100px; /* 네모칸의 높이 */
  width: 90%;
  border: 2px solid #000; 
  border-radius: 20px;
  margin-left: 10px; 
  margin-bottom: 30px;
}

.Box2 {
  height: 500px; /* 네모칸의 높이 */
  width: 90%;
  border: 2px solid #000; 
  border-radius: 20px;
  margin-left: 10px; 
  margin-bottom: 30px;
}